<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <appender name="CONTROLLER-APPENDER" type="File" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/controller.log</file>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="CONTROLLER-APPENDER" type="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/controller.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SERVICE-APPENDER" type="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/service.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ADAPTER-APPENDER" type="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/adapter.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REPOSITORY-APPENDER" type="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/repository.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="controller-logger" level="INFO" additivity="false">
        <appender-ref ref="CONTROLLER-APPENDER"/>
    </logger>

    <logger name="service-logger" level="INFO" additivity="false">
        <appender-ref ref="SERVICE-APPENDER"/>
    </logger>

    <logger name="adapter-logger" level="INFO" additivity="false">
        <appender-ref ref="ADAPTER-APPENDER"/>
    </logger>

    <logger name="repository-logger" level="INFO" additivity="false">
        <appender-ref ref="REPOSITORY-APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>